# Ignore temporary files
*~
\#*

# Ignore target folder
target/*

# Ignore specs folder
specs/*

# Ignore webapp's META-INF folder
src/main/webapp/META-INF/*

# Ignore eclipse files
.classpath
.project
.settings/*
