<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.nilhcem" level="DEBUG" />
	<logger name="com.nilhcem.core.spring.CustomLocaleResolver" level="INFO" />
	<logger name="com.nilhcem.core.spring.LogAuthenticationFilter" level="INFO" />
	<logger name="com.nilhcem.core.spring.LogRememberMeAuthenticationFilter" level="INFO" />
	<logger name="org.hibernate.SQL" level="DEBUG" /> <!-- show SQL -->

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
