/* header */
.main {
	background-color: #EDEDED;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

#content {
	margin-bottom: 3.5em; /* same as footer height */
}

#header {
	background-color: #142A3D;
	border-bottom: 1px solid #B3CCD3;
	color: #D2D1D0;
	height: 54px;
	width: 100%;
}

#header-logo {
	color: #FFFFFF;
	font-size: 3em;
	font-weight: bold;
	margin-left: 3px;
}

#header-logo a, #footer a {
	color: #FFFFFF;
	text-decoration: none;
}

.login-bt-container {
	padding: 32px 5px 0 0;
}

a.login {
	background-color: #6689A3;
	border-radius: 12px 12px 0 0;
	color: #FFFFFF;
	font-weight: bold;
	padding: 6px 26px;
}

#login-container {
    background-color: #6689A3;
	border-radius: 0 0 12px 12px;
    box-shadow: 4px 8px 4px -4px #A0A0A0;
    color: #FFFFFF;
	height: 152px;
    line-height: 2px;
    margin-top: -1px;
    padding: 6px 10px 0;
    position: absolute;
    right: 5px;
    width: 182px;
}

#login-container div {
	padding-top: 8px;
}

.full-width {
	width: 100%;
}

.text-login-modal {
	height: 18px;
}

#subheader {
	background-color: #395972;
	border-bottom: 1px solid black;
	color: #FFFFFF;
	font-weight: bold;
	height: 1.5em;
	padding: 0 4px;
}

#subheader-slogan {
	font-style: italic;
	font-weight: normal;
}

.language-container {
	padding: 2px 5px;
}


/* all */
.mainBox {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	padding: 30px 0;
}

.successBlock, .errorBlock {
	background-position: 2% 54%;
	background-repeat: no-repeat;
	display: block;
	height: 2em;
	margin-right: 15px;
	padding-left: 25px;
	padding-top: 1px;
}

.errorBlock {
	background-image: url('../images/front/cross.png');
}

.successBlock {
	background-image: url('./blueprint/plugins/buttons/icons/tick.png');
}


/* sign up */
#signup-container {
	margin-bottom: 20px;
}

.signup-line-height {
	height: 3.5em;
}

#email-availability {
	display: none;
	padding-top: 1px;
}

p.createaccount {
	padding-top: 20px;
}

.signup-input-size {
	width: 200px;
}


/* sign in */
.blue-color {
	color: #395972;
}

/* footer */
#footer {
	background-color: #395972;
	border-top: 1px solid black;
	bottom: 0;
	color: #FFFFFF;
	font-weight: bold;
	height: 3.5em; /* same as content margin-bottom */
	min-width: 100%;
	position: absolute;
	text-align: center;
}

#footer span {
	line-height: 1em;
}
