<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Beans -->
	<import resource="classpath:/META-INF/spring/beans.xml" />

	<!-- Database Configuration -->
	<import resource="classpath:/dataSource-test.xml" />
	<import resource="classpath:/hibernate-test.xml" />

	<!-- Spring Security -->
	<import resource="classpath:/META-INF/spring/security/applicationContext-security.xml" />

	<!-- Declare some beans for simplify unit testing -->
	<bean id="databaseCreator" class="com.nilhcem.clearbrain.core.test.DatabaseCreator" scope="singleton" />
	<bean id="testUtils" class="com.nilhcem.clearbrain.core.test.TestUtils" />

	<!-- Avoid Cobertura errors -->
	<aop:config proxy-target-class="true"/>
</beans>
